<div class="Container">
  <h1 class="PageBanner">My Archived Stories</h1>

  <% if @adventures.size <= 0 %>
    <p>You have no archived stories.</p>
  <% end %>

  <div class="AdventureList">
    <% @adventures.each do |adventure| %>
      <div class="card">
        <%= link_to adventure do %>
          <div class="card-image">
            <iframe src="<%= adventure_path(adventure) %>"></iframe>
          </div>
          <% end %>

          <div class="card-container">
          <%= link_to adventure do %>
          <div class="card-title">
            <%= adventure %>
          </div>
          <%end%>
          <%= link_to offline_adventure_path(adventure) do %>
            <div class = "offline-text">
              <p>Offline Version</p>
            </div>
          </div>

          <%end%>
       </div>
    <% end %>
  </div>
</div>
