<div class="AccountForm Container">
  <h1 class="PageBanner"><%= @adventure %></h1>

  <%= form_for @adventure do |f| %>
    <div class="Field">
      <%= f.label :title, "What's your title?" %>
      <%= f.text_field :title, placeholder: "enter title name here" %>
    </div>

    <div class="Field">
      <%= f.label :slug, "Story URL" %>
      <%= f.text_field :slug %>
    </div>

    <div class="Field">
      <%= f.label :description, "What's the premise?" %>
      <%= f.text_area :description, placeholder: "describe the context of the story" %>
    </div>

    <div class="Field">
      <%= f.label :Theme %>
      <%= f.select :theme, options_for_select(Adventure::THEMES, selected: @adventure.theme) %>
    </div>

    <% if @adventure.user && @adventure.user == current_user %>
      <div class="Field -checkbox">
        <%= f.check_box :public %>
        <%= f.label :public %>
      </div>
    <% end %>

    <div class="Field">
      <button class="SlantButton">Update Story</button>
    </div>
  <% end %>

  <footer class="AccountFormFooter">
    <%= link_to 'Back', [:edit, @adventure] %>
  </footer>
</div>
