<div class="AccountForm Container">
  <h1 class="PageBanner"><%= @adventure %></h1>

  <%= render "shared/adventure_form", is_update: true, correct_user: @adventure.user && @adventure.user == current_user %>

  <%= link_to "Duplicate Story", duplicate_adventure_path(@adventure), method: :post, class: "SlantButton" %>

  <footer class="AccountFormFooter">
    <%= link_to 'Back to Edit', [:edit, @adventure] %>
    <br>
    <%= link_to 'Delete', @adventure,
      method: :delete,
      data: {
        confirm: 'ARE YOU SURE YOU WANT TO DELETE THIS STORY? This is an unrecoverable action.'
      }
    %>
  </footer>
</div>
