<% view_only ||= false %>

<header>
  <h1 class="Titlebar">
    <%= @adventure %>

    <% if view_only %>
      <span class="Badge">View Only, Changes Will Not Be Saved</span>
    <% elsif @adventure.public? %>
      <span class="Badge">Public, Anyone Can Edit</span>
    <% end %>
  </h1>
  <nav class="EditorActions">
    <% if !view_only && @adventure.editable_by?(current_user) %>
      <%= link_to 'Settings', [:details, @adventure], class: "SlantButton -large" %>
    <% end %>
    <%= link_to 'Play', @adventure, class: "SlantButton -large" %>
  </nav>
</header>

<main id="editor" class="EditorMain"></main>

<script>
  var SEED = {
    slug: "<%= @adventure.to_param %>",
    viewOnly: <%= view_only %>
  }
</script>
