<h1>New Adventure</h1>

<% unless current_user %>
  <em>
    If you'd like to maintain ownership of this adventure, log in or create an
    account before you create it.
  </em>
<% end %>

<%= form_for @adventure do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>

  <div>
    <%= f.submit "Create Adventure" %>
  </div>
<% end %>

<%= link_to 'Back', adventures_path %>
