<div class="AccountForm Container">
  <h1 class="PageBanner">Create a<br>Story</h1>

  <% unless current_user %>
    <p>
      <em>
        If you'd like to maintain ownership of this story, log in or create an
        account before you create it.
      </em>
    </p>
  <% end %>

  <%= form_for @adventure do |f| %>
    <div class="Field">
      <%= f.label :title, "What's your title?" %>
      <%= f.text_field :title, placeholder: "enter title name here" %>
    </div>

    <div class="Field">
      <%= f.label :description, "What's the premise?" %>
      <%= f.text_area :description, placeholder: "describe the context of the story" %>
    </div>

    <div class="Field">
      <%= f.label :Theme %>
      <%= f.select :theme, options_for_select(Adventure::THEMES) %>
    </div>

    <% if current_user %>
      <div class="Field -checkbox">
        <%= f.check_box :public %>
        <%= f.label :public %>
        <div class="hint">
          <em>
            If checked, others will be able to edit the source of the Story.
          </em>
        </div>
      </div>
    <% end %>

    <div class="Field">
      <%= f.label :password, "Add password?" %>
      <%= f.text_area :password, placeholder: "password" %>
    </div>

    <div class="Field">
      <button class="SlantButton">Create Story</button>
    </div>
  <% end %>

  <footer class="AccountFormFooter">
    <%= link_to 'Back', adventures_path %>
  </footer>
</div>
