<div class="AccountForm Container">
  <h1 class="PageBanner">New Adventure</h1>

  <% unless current_user %>
    <em>
      If you'd like to maintain ownership of this adventure, log in or create an
      account before you create it.
    </em>
  <% end %>

  <%= form_for @adventure do |f| %>
    <div class="Field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="Field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="Field -checkbox">
      <%= f.check_box :private %>
      <%= f.label :private %>
    </div>

    <div class="Field">
      <%= f.submit "Create Adventure", class: "SlantButton" %>
    </div>
  <% end %>

  <footer class="AccountFormFooter">
    <%= link_to 'Back', adventures_path %>
  </footer>
</div>
