<% content_for :theme, "#{@adventure.theme.capitalize}Theme" %>

<div class="PlayerActions">
<% if @adventure.editable_by?(current_user) %>
  <%= link_to 'Edit', [:edit, @adventure], class: "SlantButton" %>
<% else %>
  <%= link_to 'Source', [:source, @adventure], class: "SlantButton" %>
<% end %>

<%= link_to 'Save', class: "SlantButton"%>
<a href="#" id='escape' onClick="wahey()">escape</a>
</div>
\<div class="Player" id="player"></div>

<script>
function wahey(){
  console.log(document);
document.location =
        'data:text/attachment;base64,' + // Notice the new "base64" bit!
        utf8_to_b64(document.getElementById('escape').innerHTML);
            //utf8_to_b64(document.documentElement.innerHTML); //To Download Entire Html Source
};


function utf8_to_b64( str ) {
  return window.btoa(unescape(encodeURIComponent( str )));
}

</script>

<script>

  var SEED = {
    slug: "<%= @adventure.to_param %>",
    title: "<%== escape_javascript @adventure.title %>",
    description: "<%== escape_javascript @adventure.description %>",
    theme: "<%== escape_javascript @adventure.theme.capitalize %>",
    story: <%== @adventure.content.to_json %>,
    isOffline: true

  }
</script>
