<% content_for :theme, "#{@adventure.theme.capitalize}Theme" %>

<div class="PlayerActions">
<% if @adventure.editable_by?(current_user) %>
  <%= link_to 'Edit', [:edit, @adventure], class: "SlantButton" %>
<% else %>
  <%= link_to 'Source', [:source, @adventure], class: "SlantButton" %>
<% end %>
<a href="#" id="saveBtn", class="SlantButton">Save</a>
</div>


<!-- The Modal -->
<div id="saveModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Save Page for Offline</h2>
    </div>
    <div class="modal-body">
      <p>To save page for offline, either hit CTRL-S, CMD-S</p>
      <p>Additionally, you can go to File -> Save As to save the page</p>
      <p>If given the option, make sure to save as a complete webpage</p>
    </div>
  </div>

</div>
<%= javascript_include_tag('modal.js')%>
<div class="Player" id="player"></div>



<script>

  var SEED = {
    slug: "<%= @adventure.to_param %>",
    title: "<%== escape_javascript @adventure.title %>",
    description: "<%== escape_javascript @adventure.description %>",
    theme: "<%== escape_javascript @adventure.theme.capitalize %>",
    story: <%== @adventure.content.to_json %>,
    isOffline: true

  }
</script>
