<% content_for :theme, "#{@adventure.theme.capitalize}Theme" %>

<div class="PlayerActions">
<% if @adventure.editable_by?(current_user) %>
  <%= link_to 'Edit', [:edit, @adventure], class: "SlantButton" %>
<% else %>
  <%= link_to 'Source', [:source, @adventure], class: "SlantButton" %>
<% end %>

<%= link_to 'Save', class: "SlantButton"%>
<a href="#" id='escape' onClick="wahey()">escape</a>
</div>
<div class="Player" id="player"></div>


<script>

  var SEED = {
    slug: "<%= @adventure.to_param %>",
    title: "<%== escape_javascript @adventure.title %>",
    description: "<%== escape_javascript @adventure.description %>",
    theme: "<%== escape_javascript @adventure.theme.capitalize %>",
    story: <%== @adventure.content.to_json %>,
    isOffline: true

  }
</script>
