<% content_for :theme, "#{@adventure.theme.capitalize}Theme" %>

<div class="PlayerActions">
  <% if @adventure.editable_by?(current_user) %>
    <%= link_to 'Edit', [:edit, @adventure], class: "SlantButton" %>
  <% elsif @adventure.show_source? %>
    <%= link_to 'Source', [:source, @adventure], class: "SlantButton -source-link" %>
  <% end %>
</div>

<div class="Player" id="player" data-debug="<%= params[:debug] %>"></div>

<script>
  var SEED = {
    slug: "<%= @adventure.to_param %>",
    title: "<%== escape_javascript @adventure.title %>",
    description: "<%== escape_javascript @adventure.description %>",
    theme: "<%== escape_javascript @adventure.theme.capitalize %>",
    isOffline: false
  }
</script>
