<h1>New Story</h1>

<%= form_for @story do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit "Create Story" %>
  </div>
<% end %>

<%= link_to 'Back', stories_path %>
