<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AdventureTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_pack_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="ThemeDark">
    <%= render "shared/header" %>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
