<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head_tags" %>
  </head>
  <body>
    <div class="Editor">
      <%= render "shared/header" %>
      <%= yield %>

      <%= stylesheet_pack_tag "editor" %>
      <%= javascript_pack_tag "editor", async: true, defer: true %>
    </div>

    <%= render "shared/footer", additional_class: "-black" %>
  </body>
</html>
