<!DOCTYPE html>
<html>
  <head>
    <title>AdventureTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="Editor">
      <%= render "shared/header" %>
      <%= yield %>

      <%= stylesheet_pack_tag "editor" %>
      <%= javascript_pack_tag "editor", async: true, defer: true %>
    </div>
  </body>
</html>
