<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head_tags" %>
  </head>
  <body>
    <div class="Player">
      <%= render "shared/header" %>
      <%= yield %>

      <%= stylesheet_pack_tag "player" %>
      <%= javascript_pack_tag "player", async: true, defer: true %>
    </div>
  </body>
</html>
