<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head_tags" %>
  </head>
  <body>
    <main>
      <div class="Player">
        <%= render "shared/header" %>
        <%= yield %>

        <%= stylesheet_pack_tag "player" %>
        <%= javascript_pack_tag "player", async: true, defer: true %>
      </div>
    </main>

    <%= render "shared/footer", additional_class: "-black" %>
  </body>
</html>
