<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head_tags" %>
    
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    
    <%= stylesheet_pack_tag "player" %>
    <%= javascript_pack_tag "player", async: true, defer: true %>
  </head>
  <body class="<%= content_for :theme %>">
    <%= yield %>
  </body>
</html>
